---
import AboutMe from "@/components/AboutMe.astro";
import Contact from "@/components/Contact.astro";
import CurrentStack from "@/components/CurrentStack.astro";
import { DarkModeToggle } from "@/components/DarkModeSwitch";
import Designs from "@/components/Designs.astro";
import Intro from "@/components/Intro.astro";
import Overtake from "@/components/Overtake.astro";
import Work from "@/components/Work.astro";
import "@/styles/global.css";
import Layout from "../layouts/Layout.astro";
import Avatar from "@/components/Avatar.astro";
---

<Layout title="Dwayne's Portfolio">
  <main
    class="mx-auto w-full p-4 sm:max-w-[calc(100%-2rem)] md:w-[736px] lg:w-[992px] xl:w-[1120px]"
  >
    <!-- Large screen grid -->
    <div
      class="bento hidden grid-cols-8 gap-4 sm:grid lg:grid-cols-12 lg:gap-8"
    >
      <!-- Left grid -->
      <div
        class="col-span-8 grid auto-rows-min grid-cols-10 gap-4 sm:col-span-5 lg:col-span-5 lg:gap-8"
      >
        <Intro class="col-span-10" />
        <Work class="col-span-10" />
        <AboutMe class="col-span-10" />
        <Designs class="col-span-10 h-[234px] lg:h-[208px] xl:h-[234px]" />
      </div>

      <!-- Right grid -->
      <div
        class="col-span-8 grid auto-rows-min grid-cols-10 gap-4 sm:col-span-3 lg:col-span-7 lg:gap-8"
      >
        <Avatar class="col-span-10 h-[280px] lg:col-span-5 lg:h-[190px]" />
        <Contact class="col-span-10 gap-4 lg:col-span-5 lg:gap-8" />
        <CurrentStack class="col-span-10 lg:col-span-6" />
        <DarkModeToggle
          client:load
          className="col-span-4 hidden h-[224px] lg:flex"
        />
        <Overtake class="col-span-10 hidden lg:flex" />
      </div>
    </div>

    <!-- Small screen grid -->
    <div
      class="bento grid grid-cols-8 gap-4 sm:hidden lg:grid-cols-12 lg:gap-8"
    >
      <Intro class="col-span-10" />
      <Avatar class="col-span-10 h-[280px] lg:col-span-5 lg:h-[190px]" />
      <Work class="col-span-10" />
      <AboutMe class="col-span-10" />
      <Contact class="col-span-10 gap-4 lg:col-span-5 lg:gap-8" />
      <CurrentStack class="col-span-10 lg:col-span-6" />
      <Designs
        class="col-span-10 h-[200px] sm:h-[234px] lg:h-[208px] xl:h-[234px]"
      />
      <Overtake class="col-span-10 hidden lg:flex" />
    </div>
    <Overtake class="mt-4 w-full lg:hidden" />
  </main>
</Layout>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
