---
import { DarkModeToggle } from "@/components/DarkModeToggle";
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import Contact from "@/components/Contact.astro";
import Work from "@/components/Work.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="bento grid grid-cols-12 gap-4">
      <!-- Left grid -->
      <div class="col-span-5 grid auto-rows-min grid-cols-10 gap-8">
        <div class="col-span-10">
          <Intro />
        </div>

        <!-- Resume and portfolio code -->
        <div class="col-span-10 flex flex-col gap-8">
          <Work />
          <!-- About -->
          <div
            class="col-span-10 flex flex-col gap-6 rounded-2xl bg-neutral-900 p-8"
          >
            <h3 class="text-xl font-semibold text-white">About Me</h3>
            <p class="text-normal font-normal leading-normal text-white">
              My 10+ years at companies like Google and Servicenow have honed my
              ability to create elegant solutions to the most intricate
              problems. Explore my work below.
            </p>
          </div>
        </div>

        <!-- Overtake Figma designs -->
        <div
          class="col-span-10 flex h-[220px] gap-6 rounded-2xl bg-neutral-700 p-8"
        >
          <h3 class="text-xl font-semibold text-white">
            Overtake Figma Designs
          </h3>
          <div class="flex flex-col gap-2"></div>
        </div>
      </div>

      <!-- Right grid -->
      <div class="col-span-7 grid auto-rows-min grid-cols-10 gap-8">
        <!-- Avatar -->
        <div
          class="col-span-5 h-[190px] rounded-2xl bg-neutral-900 bg-cover bg-center shadow-md dark:shadow-none"
          style="background-image: url('https://khtaejonhhmqumbcfahq.supabase.co/storage/v1/object/public/avatars/XT308664.jpg?t=2024-08-14T19%3A46%3A41.777Z')"
        >
        </div>

        <!-- Contact -->
        <div class="col-span-5 flex flex-col gap-8">
          <Contact />
        </div>

        <!-- Current stack -->
        <div
          class="col-span-6 flex h-[224px] flex-col gap-6 rounded-2xl bg-lavender-800 p-8"
        >
          <h3 class="text-xl font-semibold text-white">Current Stack</h3>
          <p class="text-normal font-normal leading-5 text-white">
            At the moment, i’m loving the DX of React, Convex, NextJS 13,
            Tailwind, and ShadCN.
          </p>
          <div>
            <span class="text-sm font-light leading-normal text-white">
              **Currently learning Rust
            </span>
          </div>
        </div>

        <!-- Dark Mode -->
        <div class="col-span-4 h-[224px]">
          <DarkModeToggle client:load />
        </div>

        <!-- Overtake Social -->
        <div
          class="col-span-10 flex h-[280px] gap-6 rounded-2xl bg-neutral-900 p-8"
        >
          <h3 class="text-xl font-semibold text-white">Overtake Social</h3>
          <div class="flex flex-col gap-2"></div>
        </div>
      </div>
    </div>

    <style>
      main {
        margin: auto;
        max-width: calc(100% - 2rem);
        padding: 1rem;
        width: 1120px;
      }

      .bento {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);
      }
    </style>
  </main>
</Layout>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
