---
import Box from "./Box.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<Box background="dark-gray" class:list={[className]}>
  <div class="flex flex-col gap-6 text-neutral-900 dark:text-neutral-50">
    <h3 class="text-xl font-semibold">About Me</h3>
    <p class="text-normal font-normal leading-normal">
      My 10+ years at companies like Google and Servicenow have honed my ability
      to create elegant solutions to the most intricate problems. Explore my
      work below.
    </p>
  </div>
</Box>
