---
import Box from "./Box.astro";
import LinkBox from "./LinkBox.astro";
---

<div class="relative h-[79px] w-full">
  <LinkBox href="mailto:dwaynelove.tech@gmail.com" background="light-lavender">
    <div
      class="flex size-full cursor-pointer items-center justify-between gap-4 text-neutral-900"
    >
      <div class="flex items-center gap-4">
        <!-- mail icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-mail"
          ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
            d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
        >
        <span class="font-normal font-semibold">Email me</span>
      </div>
      <!-- arrow right icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-right"
        ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
      >
    </div>
  </LinkBox>
</div>

<div class="relative h-[79px] w-full">
  <LinkBox href="http://github.com/dwaynelavon" background="light-azure">
    <div
      class="flex size-full cursor-pointer items-center justify-between gap-4 text-neutral-900"
    >
      <div class="flex items-center gap-4">
        <!-- mail icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-mail"
          ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
            d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
        >
        <span class="font-normal font-semibold">Projects</span>
      </div>
      <!-- arrow right icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-right"
        ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
      >
    </div>
  </LinkBox>
</div>
