---
import Box from "./Box.astro";
---

<Box background="dark-lavender">
  <div class="flex flex-col gap-6 text-neutral-900 dark:text-neutral-50">
    <h3 class="text-xl font-semibold">Current Stack</h3>
    <p class="text-normal font-normal leading-5">
      At the moment, i&apos;m loving the DX of React, Convex, NextJS 13,
      Tailwind, and ShadCN.
    </p>
    <div>
      <span class="text-sm font-light leading-normal">
        **Currently learning Rust
      </span>
    </div>
  </div>
</Box>
