---
import Box from "./Box.astro";
---

<Box background="dark-gray">
  <h2 class="text-4xl font-semibold">
    <span
      class="bg-gradient-to-r from-azure-700 via-lavender-300 to-lavender-700 bg-clip-text text-transparent dark:from-azure-300 dark:via-lavender-50 dark:to-lavender-300"
    >
      Hi, I'm Dwayne
    </span>
  </h2>
  <p
    class="mt-6 text-lg font-light leading-normal text-neutral-900 dark:text-neutral-50"
  >
    I specialize in building accessible, pixel perfect, user-friendly web
    applications.
  </p>
</Box>
