---
import Box from "./Box.astro";
---

<Box background="dark-gray">
  <h2 class="text-4xl font-semibold">
    <span
      class="bg-gradient-to-r from-azure-300 via-lavender-50 to-lavender-300 bg-clip-text text-transparent"
    >
      Hi, I'm Dwayne
    </span>
  </h2>
  <p class="mt-6 text-lg font-light leading-normal text-white">
    I specialize in building accessible, pixel perfect, user-friendly web
    applications.
  </p>
</Box>
