---
interface Props {
  background?:
    | "light-gray"
    | "dark-gray"
    | "light-azure"
    | "dark-azure"
    | "light-lavender"
    | "dark-lavender";
  class?: string;
  href: string;
}

const { background, href, class: className } = Astro.props;
let backgroundClass = "";
switch (background) {
  case "light-gray":
    backgroundClass =
      "dark:bg-neutral-700 bg-neutral-50 hover:dark:bg-neutral-800 hover:bg-neutral-50 transition-colors duration-300";
    break;
  case "light-azure":
    backgroundClass =
      "bg-azure-50 hover:bg-azure-100 dark:bg-azure-300 hover:dark:bg-azure-400 transition-colors duration-300";
    break;
  case "light-lavender":
    backgroundClass =
      "bg-lavender-50 hover:bg-lavender-100 dark:bg-lavender-200 hover:dark:bg-lavender-300 transition-colors duration-300";
    break;
  default:
    backgroundClass =
      "dark:bg-neutral-900 bg-white hover:dark:bg-neutral-800 hover:bg-neutral-50";
}
---

<a
  class:list={[
    `block size-full rounded-2xl p-8 shadow-md dark:shadow-none`,
    backgroundClass,
    className,
  ]}
  {href}
  rel="noopener noreferrer"
  target="_blank"
>
  <slot />
</a>
