---
import Box from "./Box.astro";
---

<Box background="dark-gray">
  <div
    class="flex w-[calc(100%-2rem-205px)] max-w-[290px] flex-col gap-6 text-neutral-900 dark:text-neutral-50"
  >
    <h3 class="text-xl font-semibold">Overtake Social</h3>
    <p class="text-normal font-normal leading-normal">
      Overtake is a passion project born out of my love for cars and coding.
      Built with NextJS, it's a platform for fellow enthusiasts to share their
      motoring obsessions.
    </p>
    <a
      class="flex h-10 items-center justify-center rounded-2xl bg-azure-50 text-sm font-semibold text-neutral-900 transition-colors duration-300 hover:bg-azure-100 dark:bg-azure-300"
      href="https://overtake.social"
      rel="noopener noreferrer"
      target="_blank"
    >
      Explore
    </a>
  </div>

  <div
    class="absolute right-8 top-0 hidden h-full w-[205px] bg-cover bg-center bg-no-repeat md:block"
    style="background-image: url('https://khtaejonhhmqumbcfahq.supabase.co/storage/v1/object/public/portfolio/portfolio_overtake_cars_vertical.png?t=2024-08-16T00%3A18%3A59.867Z')"
  >
  </div>
</Box>
