---
import LinkBox from "./LinkBox.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["flex gap-4 lg:gap-8", className]}>
  <LinkBox
    class="relative h-[60px] w-full"
    href="https://drive.google.com/file/d/1Qb6i8H76c8ysfoDhEshY5d_4n2XgJs5W/view?usp=drive_link"
    background="light-lavender"
  >
    <div
      class="flex size-full cursor-pointer items-center justify-center gap-4 text-neutral-900"
    >
      <span class="font-normal font-semibold">Resume</span>
    </div>
  </LinkBox>

  <LinkBox
    class="relative h-[60px] w-full"
    href="https://github.com/dwaynelavon/digitalportfolio"
    background="light-azure"
  >
    <div
      class="flex size-full cursor-pointer items-center justify-center gap-4 text-neutral-900"
    >
      <span class="font-normal font-semibold">Projects</span>
    </div>
  </LinkBox>
</div>
